{% extends 'layout.twig' %}

{% block body %}
  <h1>NDJSON Example</h1>
  <a href="/create-ndjson">Generate NDJSON file &raquo;</a>
  <p><strong>/ndjson</strong> values:</p>

  <script src='https://unpkg.com/can-ndjson-stream@0.1/dist/global/can-ndjson-stream.js'></script>
  <script src='/javascripts/stream.js'></script>
{% endblock %}
